extends ../layout/index

block contenido
   main.container.mt-5  
    .row
        .col-md-5
            img(src="materiales/img/nosotros.jpg", alt="Imagen de Nosotros", class="img-fluid")
        .col-md-7
            h1 #{pagina}
            blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, dolorem possimus. Autem fuga veniam qui sapiente officiis ducimus libero vel voluptate laudantium molestiae corporis quia nesciunt laborum, eligendi, pariatur quisquam!
            p Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            p  Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="materiales/img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum temporibus aut, sequi, veniam sit sed laudantium eius laboriosam recusandae
                .col-md-4
                    img(src="materiales/img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum temporibus aut, sequi, veniam sit sed laudantium eius laboriosam recusandae         
                .col-md-4
                    img(src="materiales/img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Grandes Promos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum temporibus aut, sequi, veniam sit sed laudantium eius laboriosam recusandae                 